html {
    width: 100%;
    height: 100%;
    user-select: none;
    color: black;
    background-color: white;
}
.dark  {
    color: #e6edf3;
    background-color: #252525;
}

body, #app {
    margin: 0;
    width: 100%;
    height: 100%;
}
a:visited {
    color: LinkText;
}

.gw2lav_button {
    all: unset;
    padding: 0.5rem 1rem;
}
.gw2lav_button:hover:enabled {
    background-color: #88888844;
}
.gw2lav_button:disabled {
    color: #88888888;
}